{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>The device is booked by {{ username }} from {{ start }} to {{ end }}.</h2>
	<span><h3><a href="{{ url_for('appointment.calendar', selected_device=device_id) }}">Booking</a>&nbsp&nbsp<a href={{ logs }} target="_blank">Log</a></h3></span>
</div>
<div class="container">
    {% if table %}
    <h5>Other Available Devices of the same device type</h5>
    {{ table }}
    {% else %}
    <h5>No Other Available Devices of the same device type</h5>
    {% endif %}
</div>
<br/>
{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}