{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Please fill in the following log form (LOGIN)</h2>
</div>
{{ wtf.quick_form(form) }}
<div class="container">
	<p>Booking this device by this <a href="{{ url_for('appointment.calendar', selected_device=device_id) }}">link</a>.</p>
	<p>See the usage <a href={{ logs }} target="_blank">Log</a> for your reference.</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
