{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log{% endblock %}

{% block page_content %}
<div class="page-header">
	<h2>The device is {{ status }} now.</h2>
	<p>Please fill in the following log form for recording the device's new status</p>
</div>
{{ wtf.quick_form(form) }}
<div class="container">
	<p>See the usage <a href={{ logs }} target="_blank">Log</a> for your reference.</p>
</div>
<div class="container">
    {% if table %}
    <h5>Other Available Devices of the same device type</h5>
    {{ table }}
    {% else %}
    <h5>No Other Available Devices of the same device type</h5>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
