{% extends "base.html" %}

{% block title %}Log{% endblock %}

{% block page_content %}
<style>
	b {
	font-size: 20px;
	color: red;
	}
</style>
<div class="page-header">
	<h2>The device has been Terminated already.</h2>
	<p>Please contact with NAMI's Lab Manager for more information.</p>
</div>
<div class="container">
    {% if table %}
	<h5>Other <b>Available</b> Devices of the same device type</h5>
    {{ table }}
    {% else %}
    <h5>No Other Available Devices of the same device type</h5>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
