{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<script type="text/javascript" src="https://cdn.bootcss.com/echarts/3.7.2/echarts.min.js"></script>

<div class="page-header">
	<h1>Analysis</h1>
</div>

<div>
	{{ gauge|safe }}
</div>

{% if table %}
<div class="container">
	<b>In-use Devices:</b>
	{{ table }}
</div>
{% endif %}

<div class="container">
	{{ wtf.quick_form(form) }}
</div>

<script type="text/javascript">
var slider = document.getElementsByName("slider")[0];
slider.min = "0";
slider.max = "30";
var slider_value = document.getElementsByName("day")[0];
slider.onchange = function() {
	slider_value.value = slider.value;
};
</script>

{% if bar %}
<div>
	{{ bar|safe }}
</div>
{% endif %}
{% endblock %}

