{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Test{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
<!--link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet"-->
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
        <div>
            {{ wtf.quick_form(form) }}
            <!--{{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.phone) }}
            {{ wtf.form_field(form.photoset) }}
            {{ wtf.form_field(form.date) }}
            <div class="input-group bootstrap-timepicker timepicker"-->
            <!--label class="control-label" for="time">Appointment time</label-->
                <!--input id="time" type="text" class="form-control input-small">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
            </span>
            </div>
        </div>
            {{ wtf.form_field(form.submit) }}
            {{ form.csrf_token }}
        -->
</div>
{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<!--script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/locales/bootstrap-datepicker.zh-CN.min.js"></script-->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
    $('#date').datepicker({
        defaultViewDate: "today",
        startDate: "0",
        endDate: "+7d",
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        daysOfWeekDisabled: "0,6",
        format: "yyyy/mm/dd",
        language: "en"
    });
    // $('#time').timepicker();
</script>
<!--script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
        $('#date_time').datetimepicker();
</script-->
{% endblock %}
