{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/zTreeStyle/zTreeStyle.css') }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ztree.all.min.js') }}"></script>

{% endblock %}

{% block title %}Harold{% endblock %}

{% block page_content %}

<div class="box">
    <ul id="treeDemo" class="ztree" style="wdith:230px; overflow:auto;"></ul>
    <ul id="ul_display">
        <li style="text-align: center; background-color: #ddd; border-bottom: 1px dashed"></li>
    </ul>
</div>

<script>
    //禁止拖拽到父节点前面的操作
    function canPrev(treeId, nodes, targetNode) {
	    return !targetNode.isParent;
    };

    //递归找到所有非父节点
    function getAllChildrenNodes(treeNode, result){
        if (treeNode.isParent){
            var childrenNodes = treeNode.children;
            if (childrenNodes){
                for (var i=0; i<childrenNodes.length; i++){
                    if (!childrenNodes[i].children){
                        result.push(childrenNodes[i].name);
                    }
                    result = getAllChildrenNodes(childrenNodes[i], result);
                }
            }
        }
        return result;
    };

    var zTreeObj,
	setting = {

	    //zTree 的唯一标识，初始化后，等于 用户定义的 zTree 容器的 id 属性值。请勿进行初始化 或 修改，属于内部参数。
	    treeId: "",

	    //zTree 容器的 jQuery 对象，主要功能：便于操作。请勿进行初始化 或 修改，属于内部参数。
	    treeObj: null, //set treeObj to null will trigger async request

	    async: {

	        //enable async, work with "treeObj: null"
	        enable: true,

	        url: "{{ url_for('nodes') }}",

	        //send parent id by ["id"], if want to change, follow the format: ["id=parentId"]
	        autoParam: ["id"],

	        //ajax data type
	        contentType: "application/json",

	        //用于对 Ajax 返回数据进行预处理的函数。[setting.async.enable = true 时生效]
	        dataFilter: null,

	        //Ajax 获取的数据类型。默认值："text"
	        dataType: "json",

	        //Ajax 请求提交的静态参数键值对。默认值：[]
	        //Array format: [key, value]
	        //json format: {key1: value1, key2: value2}
	        otherParam: [],

	        //Ajax 的 http 请求模式。默认值："post"
	        type: "post",

	        //参考 jQuery ajax 中的 headers 参数
	        headers: {},

	        //参考 jQuery ajax 中的 xhrFields 参数
	        xhrFields: {},
	    },

	    //选框配置
	    check: {

	        enable: true,
	        chkStyle: "checkbox",

	        //勾选 checkbox 对于父子节点的关联关系。[setting.check.enable = true 且 setting.check.chkStyle = "checkbox" 时生效]
	        chkboxType: {"Y": "p", "N": "s"}, //勾选操作，只影响父级节点；取消勾选操作，只影响子级节点

	    },

	    //数据配置
	    data: {
	        //采用简单数据模式 (Array), 不需要用户再把数据库中取出的 List 强行转换为复杂的 JSON 嵌套格式
	        simpleData: {
	            enable: true,
	            idKey: "id", //节点数据中保存唯一标识的属性名称
	            pIdKey: "pId", //节点数据中保存其父节点唯一标识的属性名称
	            rootPId: 0 //用于修正根节点父节点数据，即 pIdKey 指定的属性值
	        },
	    },

	    //
	    edit: {

	        //设置 zTree 是否处于编辑状态, 请在初始化之前设置，初始化后需要改变编辑状态请使用 zTreeObj.setEditable() 方法
	        enable: true,
	        drag: {
	            autoExpandTrigger: true, //拖拽时父节点自动展开是否触发 onExpand 事件回调函数。默认值：false
	            isCopy: true, //拖拽时, 设置是否允许复制节点。默认值：true
	            isMove: true, //拖拽时, 设置是否允许移动节点。默认值：true
	            /*
	            1、isCopy = true; isMove = true 时，拖拽节点按下 Ctrl 或 Cmd 键表示 copy; 否则为 move

                2、isCopy = true; isMove = false 时，所有拖拽操作都是 copy

                3、isCopy = false; isMove = true 时，所有拖拽操作都是 move

                4、isCopy = false; isMove = false 时，禁止拖拽操作
                */
                prev: canPrev,
                next: true,
                inner: true,

                borderMax: 10, //拖拽节点成为根节点时的 Tree 内边界范围 (单位：px)。默认值：10
                borderMin: -5, //拖拽节点成为根节点时的 Tree 外边界范围 (单位：px)。默认值：-5
                minMoveSize: 5, //判定是否拖拽操作的最小位移值 (单位：px)。根据自己的需求可适当调整此值，如果太小容易导致点击鼠标时误操作进行拖拽, 默认值：5
                maxShowNodeNum: 5, //拖拽多个兄弟节点时，浮动图层中显示的最大节点数。 多余的节点用...代替。默认值：5
                autoOpenTime: 500 //拖拽时父节点自动展开的延时间隔。 (单位：ms)默认值：500

	        },

	        editNameSelectAll: true, //节点编辑名称 input 初次显示时,设置 txt 内容是否为全选状态。 默认值: false
	        showRemoveBtn: true, //设置是否显示删除按钮。默认值：true

	        /*
	        当点击某节点的删除按钮时：

            1、首先触发 setting.callback.beforeRemove 回调函数，用户可判定是否进行删除操作。

            2、如果未设置 beforeRemove 或 beforeRemove 返回 true，则删除节点并触发 setting.callback.onRemove 回调函数。
	        */

	        removeTitle: "remove", //鼠标移动到 删除按钮 上时，浏览器自动弹出的辅助信息内容, 默认值："remove"

	        showRenameBtn: true, //设置是否显示编辑名称按钮。默认值：true

	        /*
	        当点击某节点的编辑名称按钮时：

            1、进入节点编辑名称状态。

            2、编辑名称完毕（Input 失去焦点 或 按下 Enter 键），会触发 setting.callback.beforeRename 回调函数，用户可根据自己的规则判定是否允许修改名称。

            3、如果 beforeRename 返回 false，则继续保持编辑名称状态，直到名称符合规则位置 （按下 ESC 键可取消编辑名称状态，恢复原名称）。

            4、如果未设置 beforeRename 或 beforeRename 返回 true，则结束节点编辑名称状态，更新节点名称，并触发 setting.callback.onRename 回调函数。
	        */

	        renameTitle: "rename" //设置鼠标移动到 编辑名称按钮 上时，浏览器自动弹出的辅助信息内容，默认值："rename"
	    },

		view: {
			selectedMulti: false,
			//是否显示节点前的图标
            showIcon: false,
            //节点上a标签的样式
            fontCss: {
            }
		},

		callback: {

		    //点击复选框之前的事件
            beforeCheck:function(treeId, treeNode){//如果节点是父节点,并且勾选时没有子节点,则不允许勾选;针对父节点没有展开,则没有异步加载子节点,此情况禁止点击父节点全选子节点的操作
                if(treeNode.isParent && !treeNode.children){
                    return false;
                }
            },

            //回调错误事件
            onAsyncError: function(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest);
            },

            //回调成功事件
            onAsyncSuccess: function(event, treeId, treeNode, msg){
                //alert(msg);
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                var count = treeNode.children.length;
                //console.log(count);
                //console.log(treeNode.name);
                //加载成功后;在节点后面显示此父节点下有几个一级子节点
                var node = $("a[title='"+treeNode.name+"']");
                node.text(treeNode.name+'('+count+')');
            },
            //用于捕获节点被展开的事件回调函数
            onExpand: function(event, treeId, treeNode){
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                var expandedId = treeNode.id;
                var allNodes = zTree.getNodes();
                var expandedLevel = treeNode.level;

                function filter_nodes_with_same_level_and_has_children(node){
                    return (node.level == treeNode.level && node.isParent);
                };
                var nodes_with_same_level_and_has_children = zTree.getNodesByFilter(filter_nodes_with_same_level_and_has_children);

                for (var i=0; i<nodes_with_same_level_and_has_children.length; i++){
                    if (nodes_with_same_level_and_has_children[i].id != expandedId){
                        zTree.expandNode(nodes_with_same_level_and_has_children[i], false, true, true);
                    };
                };
            },
            //用于捕获节点被点击的事件回调函数, 如果设置了 setting.callback.beforeClick 方法，且返回 false，将无法触发 onClick 事件回调函数。默认值：null
            onClick: function(event, treeId, treeNode){

                var zTree = $.fn.zTree.getZTreeObj("treeDemo");

                //点击文字关联复选框
                //如果不是父节点,则关联,或者是父节点,但展开状态位true是,也关联;
                if (!treeNode.isParent || (treeNode.isParent && treeNode.open)){
                    zTree.checkNode(treeNode, !treeNode.checked, true); //勾选 或 取消勾选 单个节点
                };

                //展开当前节点
                zTree.expandNode(treeNode, true, true, true);

                //手风琴效果;直接调用onExpand
                zTree.setting.callback.onExpand(event, treeId, treeNode);


                //点击节点名称和勾选节点前面的复选框逻辑相同;
                //直接在onClick里面调用onCheck函数;并传入所需参数
                zTree.setting.callback.onCheck(event, treeId, treeNode);
            },
            //用于捕获 checkbox / radio 被勾选 或 取消勾选的事件回调函数
            onCheck: function(e, treeId, treeNode){
                //获取ul_display内所有li标签;用于比较当前选择复选框是否存在
                var bottomLis = $("#ul_display").find("li");
                //选中的是底层节点;
                if (!treeNode.isParent){
                    if (treeNode.checked){
                        for (var i=0; i<bottomLis.length; i++){
                            if ($(bottomLis[i]).attr("title") == treeNode.name){
                                return;
                            }
                        }
                        var addLi = $("<li title='"+treeNode.name+"'><span></span>");
                        addLi.find("span").text(treeNode.name);
                        addLi.animate({
                            width: "100%",
                            height: "30"
                        }, 400);
                        addLi.appendTo($("#ul_display"));
                        $("#treeDemo").find("a[title='"+treeNode.name+"']").css("backgroundColor", "#42f4b9");
                    }else{
                        $("#ul_display").find("li[title='"+treeNode.name+"']").animate({
                            width: "0%",
                            height: "0"
                        }, 400, function(){
                            $("#ul_display").find("li[title='"+treeNode.name+"']").remove();
                        });
                        $("#treeDemo").find("a[title='"+treeNode.name+"']").css("backgroundColor", "");
                    }
                }else{
                    //选中的是父节点;获取所有子节点(非父节点),判断复选框状态加入到ul或删除
                    var childrenNodesArray = getAllChildrenNodes(treeNode, []);
                    console.log(childrenNodesArray);
                    if (treeNode.checked){
                        var bottomLiArray = [];
                        $("#ul_display li").each(function(index, element){
                            bottomLiArray.push($(element).attr("title"));
                        });
                        console.log(bottomLiArray);
                        bottomLiArray = bottomLiArray.slice(1);
                        for (var i=0; i<childrenNodesArray.length; i++){
                            if (bottomLiArray.indexOf(childrenNodesArray[i]) == -1){
                                var addLi = $("<li title='"+childrenNodesArray[i]+"'><span>"+childrenNodesArray[i]+"</span>");
                                addLi.animate({
                                    width: "100%",
                                    height: "30"
                                }, 400);
                                addLi.appendTo($("ul_display"));
                            }
                            $("#treeDemo").find("a[title='"+childrenNodesArray[i]+"']").css("background", "#42f4b9");
                        }
                    }else{
                        for (var i=0; i<childrenNodesArray.length; i++){
                            $("#ul_display").find("li[title='"+childrenNodesArray[i]+"']").animate({
                                width: "0%",
                                height: "0"
                            }, function(){
                                $(this).css("display", "none");
                                $(this).remove();
                            })
                            $("#treeDemo").find("a[title='"+childrenNodesArray[i]+"']").css("backgroundColor", "");
                        }
                    }
                }
            },
		}
	},
	zTreeNodes = [
	    {
	        name: "Table I",
	        id: 1,
	        isParent: true,
	        pid: 0
	    },

	    {
	        name: "Table II",
	        id: 2,
	        isParent: true,
	        pid: 0
	    },

	    {
	        name: "Table III",
	        id: 3,
	        isParent: true,
	        pid: 0
	    },
	];

	$(document).ready(function(){
		zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zTreeNodes);

	});
</script>

{% endblock %}
